* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 1000px;
  height: 600px;
  margin: 25px auto;
  border: 1px solid rgb(197, 191, 185);

  .main {
    width: 70%;
    border-right: 2px solid rgb(212, 209, 209);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      height: 10%;

      &__buttons {
        display: flex;

        :nth-child(n + 2) {
          margin-left: 10px;
        }
      }

      .icon {
        width: 16px;
        height: 16px;
        fill: rgb(90, 87, 87);

        &:hover  {
          cursor: pointer;
          fill: black;
        }
  
        &.focus {
          fill: blue;
        }
      }
    }

    .chat {
      padding: 10px;
      height: 83%;
      background: url('../images/background.jpg') no-repeat;
      background-size: cover;

      .message {
        padding: 15px;
        margin-left: auto;
        margin-right: 0;
        width: 400px;
        height: fit-content;
        background-color: rgb(202, 247, 181);
        border: 1px solid rgb(202, 247, 181);
        border-radius: 10px;

        &__content {
          text-align: justify;
        }

        &__status {
          display: flex;
          margin-top: 5px;
          justify-content: flex-end;
          align-items: center;
        }

        &__timestamp {
          color: rgb(24, 189, 9);
        }

        .icon {
          margin-left: 5px;
          width: 16px;
          height: 16px;
          fill: rgb(24, 189, 9);
        }
      }
    }

    .input-box {
      display: flex;
      align-items: center;
      height: 7%;
      padding: 10px;

      &__paperclip {
        width: 16px;
        height: 16px;
      }

      input {
        margin-left: 15px;
        width: 90%;
        outline: none;
      }

      &__buttons {
        display: flex;
      }

      .icon {
        width: 26px;
        height: 26px;
        fill: rgb(90, 87, 87);

        &:hover {
          cursor: pointer;
          fill: black;
        }

        &:nth-of-type(even) {
          margin-left: 20px;
        }
      }
    }
  }

  .section {
    width: 30%;
    background-color: rgb(252, 248, 248);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      height: 10%;
      background-color: white;
    }

    &__exit {
      color: grey;
      font-size: 26px;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }

    &__files {
      padding: 15px;
      padding-top: 20px;
      height: fit-content;
      background-color: white;
      box-shadow: 0 1px 1px grey;

      .file {
        display: flex;
        align-items: center;
        margin-left: 15px;

        &:nth-of-type(n + 2) {
          margin-top: 15px;
        }

        .icon {
          width: 25px;
          height: 25px;
          justify-self: start;
          fill: rgb(90, 87, 87);

          &:hover {
            fill: black;
            cursor: pointer;
          }
        }

        &__quantity {
          margin-left: 30px;

          &:hover {
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.licenses {
  text-align: center;
}