* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  min-width: 1000px;
  height: 600px;
  border: 1px solid rgb(197, 191, 185);

  .main {
    width: 70%;
    border-right: 1px solid rgb(212, 209, 209);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      height: 10%;

      &__buttons {
        display: flex;

        :nth-child(n + 2) {
          margin-left: 10px;
        }
      }

      &__icon {
        width: 16px;
        height: 16px;
        fill: grey;
      }

      &__icon:hover {
        cursor: pointer;
        fill: black;
      }

      &__icon_focus {
        fill: blue;
      }
    }

    .content {
      height: 83%;
      background: url('../images/background.jpg') no-repeat;
      background-size: cover;
    }

    .message {
      display: flex;
      align-items: center;
      height: 7%;
      padding: 10px;

      &__paperclip {
        width: 16px;
        height: 16px;
      }

      input {
        margin-left: 15px;
        width: 90%;
      }

      &__buttons {
        display: flex;
      }

      &__icon {
        width: 16px;
        height: 16px;

        &:nth-of-type(even) {
          margin-left: 20px;
        }
      }
    }
  }

  .section {
    width: 30%;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 15px;
      height: 10%;
    }

    &__exit {
      color: grey;
      font-size: 26px;
    }

    &__files {
      height: 45%;
    }
  }
}